*{
  padding: 0;
  margin: 0;
}
h1{
  font-size: 3rem;
}
.main_body{
  min-height: 100vh;
  background-color: #E5E7EB;
}
.underline{
  height:0.3rem;
  background-color:#A78BFA;
  width:19%;
}
.main_data{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}